<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to "Home", root_path %>
    <%= link_to "About", pages_about_path %>
    <%= link_to "Portfolio", pages_portfolio_path %>
    <%= link_to "Cool New Projects", pages_cool_new_projects_path %>
    <%= link_to "Contact", pages_contact_path %>


        <%= yield %>
  </body>
</html>
